#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ho_tap: ho_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HO_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        long_ho_tap: long_ho_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HO_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <350>;
        };

        mo_tap: mo_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        rshft_combo {
            bindings = <&sk RIGHT_SHIFT>;
            key-positions = <41 42>;
        };

        lshft_combo {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <32 31>;
        };

        vs_comment {
            bindings = <&vscmnt>;
            key-positions = <50 49>;
        };

        vs_uncomment {
            bindings = <&vsuncmnt>;
            key-positions = <49 48>;
        };

        f11_combo {
            bindings = <&kp F11>;
            key-positions = <37 38>;
        };

        vs_build {
            bindings = <&vsbuild>;
            key-positions = <50 51>;
        };

        vs_cursor_up {
            bindings = <&vs_addcursor_up>;
            key-positions = <53 69>;
        };

        vs_cursor_dn {
            bindings = <&vs_addcursor_dn>;
            key-positions = <68 69>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <52 66>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <67 66>;
        };

        my_ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <42 43>;
        };

        my_lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <31 30>;
        };

        my_rctrl {
            bindings = <&kp RIGHT_CONTROL>;
            key-positions = <41 42 43>;
        };

        my_lctrl {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <32 31 30>;
        };
    };

    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "PASTE";
        };

        vs_addcursor_dn: vs_addcursor_dn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp DOWN_ARROW>,
                <&macro_release>,
                <&kp LEFT_ALT>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "VS_ADDCURSOR_DN";
        };

        vs_addcursor_up: vs_addcursor_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp LEFT_ALT>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "VS_ADDCURSOR_UP";
        };

        vsbuild: vsbuild {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp B>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VSBUILD";
        };

        vsrun: vsrun {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VSRUN";
        };

        vscmnt: vscmnt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VSCMNT";
        };

        vsuncmnt: vsuncmnt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VSUNCMNT";
        };

        select_all: select_all {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "SELECT_ALL";
        };

        duplicate: duplicate {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "DUPLICATE";
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "UNDO";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CUT";
        };

        vs_sorround: vs_sorround {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp W>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VS_SORROUND";
        };

        vs_find_all: vs_find_all {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "VS_FIND_ALL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1                &kp N2                &kp N3                &kp N4                &kp N5  &tog 1                                                                     &mo 3                     &kp N6  &kp N7         &kp N8             &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q                 &long_ho_tap LA(W) W  &kp E                 &kp R                 &kp T   &kp LA(R)                                                                  &long_ho_tap LA(V) LG(V)  &kp Y   &kp U          &kp I              &kp O     &kp P     &kp BSLH
&kp CAPS   &long_ho_tap LC(A) A  &long_ho_tap LC(S) S  &long_ho_tap LC(D) D  &long_ho_tap LC(F) F  &kp G   &kp LA(C)  &kp LEFT_ARROW  &kp RIGHT_ARROW      &kp ESC         &kp F10    &kp LA(B)                 &kp H   &kp J          &kp K              &kp L     &kp SEMI  &kp SQT
&sk LSHFT  &long_ho_tap LC(Z) Z  &long_ho_tap LC(X) X  &long_ho_tap LC(C) C  &long_ho_tap LC(V) V  &kp B                              &copy                &kp UP_ARROW                                         &kp N   &kp M          &kp COMMA          &kp DOT   &kp FSLH  &sk RSHFT
&mo 2      &kp GRAVE             &sk LEFT_WIN          &sk LEFT_CONTROL      &sk LEFT_ALT                  &kp BSPC   &kp DEL         &paste               &kp DOWN_ARROW  &kp ENTER  &kp SPACE                         &sk RIGHT_ALT  &sk RIGHT_CONTROL  &kp LBKT  &kp RBKT  &mo_tap 2 LG(V)
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5  &trans                                                    &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &none
&kp TAB    &none      &none      &none      &none      &none   &none                                                     &none      &none   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &none
&kp ESC    &kp LC(A)  &none      &kp LC(D)  &none      &none   &none     &kp LCTRL  &kp LALT       &kp LGUI   &kp RCTRL  &none      &none   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &none
&kp LSHFT  &kp LC(Z)  &kp LC(X)  &none      &none      &none                        &kp LC(C)      &kp PG_UP                        &none   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS   &kp LEFT   &kp RIGHT          &kp BSPC  &kp DEL    &kp LC(V)      &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &none            &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3     &kp F4  &kp F5  &kp F6  &tog 1                                                                                  &mo 3   &kp F7  &kp F8     &kp F9     &kp F10    &kp F11  &kp F12
&trans  &trans  &trans     &trans  &trans  &trans  &kp C_VOLUME_UP                                                                         &none   &trans  &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans   &trans
&trans  &trans  &trans     &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp LG(LC(LEFT_ARROW))  &kp LG(LC(RIGHT_ARROW))      &trans  &trans  &none   &trans  &kp KP_N4  &kp KP_N5  &kp KP_N6  &trans   &trans
&trans  &trans  &trans     &trans  &trans  &trans                                             &trans                       &trans                  &trans  &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans   &trans
&trans  &trans  &kp LG(L)  &trans  &trans          &trans             &trans                  &trans                       &trans  &trans  &trans          &kp KP_N0  &trans     &trans     &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
